/* Sección Filosofia*/

.section-filosofia-onfit {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: yellow;

    .tituloFilosofia {
        margin-top: 10px;
        font-family: 'Inter', sans-serif;
    }

    .lista-filosofias {
        display: grid;
        grid-template-columns: repeat(3, auto);
        text-align: left;
        font-size: 18px;
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 40px;

        li{
            margin-right: 30px;
        }
    }
}