.mainGaleriaImagenes {
    align-items: center;
    justify-items: center;
    background-image: url(../img/fondo-imagenes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tarjetas-imagenes {
    width: auto;
}