.main-actividades {
    background-image: url(../img/clases-fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .lista-actividades {
        padding: 4rem;
        padding-top: 1rem;
        margin-top: 10rem;
        margin-bottom: 10rem;
    
        ul {
            padding: 0;
            font-family: 'Anton', sans-serif;
            font-family: 'Varela Round', sans-serif;
            background-color: #353533;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        li {
            margin-top: 20px;
        }

        .parrafoActividades {
            font-size: 20px;
            font-family: 'Tilt Warp', cursive;
            text-shadow: 1px 1px 2px black;
        }
    }
}

.actividades-1 {
    grid-area: actividades-1;
    padding: 0;

}

.logo-2 {
    grid-area: logo-2;
    padding: 0;
}

.actividades-3 {
    grid-area: actividades-3;
    padding: 0;
}