@mixin listasConEstilos {
    list-style: none;
    text-shadow: 1px 1px 2px black;
}

.lista-sedes {
    @include listasConEstilos();
}

.lista-actividades ul {
    @include listasConEstilos();
}

@mixin enlaces {
    text-decoration: none;
    margin-right: 1rem;
}

.social-media {

    a {
        @include enlaces();
    }
}