.logoNavBar {
    width: 150px;
    margin-left: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color-background;
}

.opciones a {
    color: $color-primary;
    font-size: 20px;
    margin-right: 30px;
    font-weight: bold;
    border-radius: 5px;
}

.opciones a:hover {
    background-color: $color-primary;
    color: $color-background;
    border-radius: 5px;
}

