/* Seccion Video APP */

.videoAPP {
    background-image: url(../img/fondo-seccion-app.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.textoApp {
    margin-top: 50px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    text-align: right;
    grid-area: textoApp;
}

.youtube {
    grid-area: youtube;
}

.seccion-video {
    max-width: 1200px;
    margin: 0 auto;
}
