/* Sección Sucursales */

.sucursales-onfit {
    background-image: url(../img/quilmes-sede.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    .titulo-sucursales {
        padding-top: 5px;
        margin-bottom: 40px;
        margin-left: 40px;
        text-shadow: 1px 1px 2px black;
    }
}

.lista-sedes {
    color: white;
    font-size: 30px;
    font-family: 'Koulen', cursive;
    display: grid;
    grid-template-columns:repeat(3, 1fr);

    li {
        margin-top: 20px;
    }

    p {
        font-size: 12px;
        font-family: 'Kulim Park', sans-serif;
    }

    .logoItem {
        width: 50px;
        margin-right: 10px;
        margin-left: 0px;
    }
}